.alert-modal {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 2rem;
    border-radius: 15px;
    background-image: linear-gradient(to right top, #4D8076, #417573, #396A6F, #335E69, #315361, #2F4858);
    height: 11rem;
    justify-content: space-evenly;
    color: #ffffff;
    font-size: 1rem;
    box-shadow: 3px 5px 10px #aaaaaa;
    position: absolute;
    top: 35%;
    text-align: center;
}